*{

box-sizing:border-box;
font-family:tahoma;

}


body{

margin:0;

background:
linear-gradient(
135deg,
#16002b,
#4b0082
);

min-height:100vh;

color:white;

}



.app{

width:100%;

max-width:420px;

margin:auto;

padding:20px;

}




.header{

text-align:center;

}



.logo{

width:90px;

height:90px;

border-radius:50%;

}



.header h1{

font-size:28px;

}




.balance-card{


background:
rgba(255,255,255,0.12);


border-radius:25px;


padding:25px;


text-align:center;


margin-top:20px;


backdrop-filter:blur(10px);


}




.balance-card span{

font-size:18px;

}



.balance-card h2{

font-size:30px;

color:#ffd700;

}




.menu{


display:grid;

grid-template-columns:1fr 1fr;

gap:15px;


margin-top:25px;


}




.menu button{


border:none;


padding:18px;


border-radius:20px;


font-size:17px;


background:
rgba(255,255,255,0.15);


color:white;


cursor:pointer;


transition:.3s;


}



.menu button:hover{

transform:scale(1.05);

background:#ff9800;

}




.content{


margin-top:25px;


background:
rgba(255,255,255,0.1);


padding:25px;


border-radius:25px;


text-align:center;


}
